name: build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - uses: actions-rs/install@v0.1
        with:
          crate: mdbook 
          version: latest
          use-tool-cache: true
      - run: mdbook build